package ${package}.${project}.persistence.mapper;

import ${package}.${project}.persistence.bean.${className};
import java.util.List;
import java.util.Map;
import org.apache.ibatis.annotations.Mapper;
import com.baomidou.mybatisplus.plugins.Page;
import ${package}.${project}.api.bo.${className}PageQueryBO;

/** 
 * @Description ${dao}
 * @author ansen.zhu
 * @date ${datetime}
 */
@Mapper
public interface ${className}Mapper {

    ${className} get(${pk.javaDataType} ${pk.lowercaseAttrName});

    List<${className}> list(Map<String, Object> map);
    
    List<${className}> page(Page<${className}> page, ${className}PageQueryBO ${classname}PageQueryBO);

    int count(Map<String, Object> map);

    int save(${className} ${classname});

    int update(${className} ${pk.lowercaseAttrName});

    int remove(${pk.javaDataType} ${pk.columnName});

    int batchRemove(${pk.javaDataType}[]${pk.lowercaseAttrName});
}
