<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aek.shop.persistence.mapper.ShopFeedbackInfoMapper">

    <resultMap id="feedbackResultMap" type="com.aek.shop.api.vo.ShopFeedbackInfoVO">
    	<id column="id" jdbcType="BIGINT" property="id" />
    	<result column="id" jdbcType="Long" property="id"/>
	    <result column="feedback_id" jdbcType="String" property="feedbackId"/>
	    <result column="org_id" jdbcType="String" property="orgId"/>
	    <result column="parent_id" jdbcType="String" property="parentId"/>
	    <result column="feedback_index" jdbcType="Integer" property="feedbackIndex"/>
	    <result column="feedback_title" jdbcType="String" property="feedbackTitle"/>
	    <result column="feedback_content" jdbcType="String" property="feedbackContent"/>
	    <result column="feedback_image_urls" jdbcType="String" property="feedbackImageUrls"/>
	    <result column="feedback_status" jdbcType="Boolean" property="feedbackStatus"/>
	    <result column="user_name" jdbcType="String" property="userName"/>
	    <result column="telephone" jdbcType="String" property="telephone"/>
	    <result column="email" jdbcType="String" property="email"/>
	    <result column="add_by" jdbcType="String" property="addBy"/>
	    <result column="add_name" jdbcType="String" property="addName"/>
	    <result column="add_time" jdbcType="Date" property="addTime"/>
	    <result column="last_edit_by" jdbcType="String" property="lastEditBy"/>
	    <result column="last_edit_name" jdbcType="String" property="lastEditName"/>
	    <result column="last_edit_time" jdbcType="Date" property="lastEditTime"/>
	    <result column="del_flag" jdbcType="Boolean" property="delFlag"/>
	    </resultMap>

	<resultMap id="baseResultMap" type="com.aek.shop.persistence.bean.ShopFeedbackInfo">
    	<id column="id" jdbcType="BIGINT" property="id" />
	    <result column="id" jdbcType="Long" property="id"/>
	    <result column="feedback_id" jdbcType="String" property="feedbackId"/>
	    <result column="org_id" jdbcType="String" property="orgId"/>
	    <result column="parent_id" jdbcType="String" property="parentId"/>
	    <result column="feedback_index" jdbcType="Integer" property="feedbackIndex"/>
	    <result column="feedback_title" jdbcType="String" property="feedbackTitle"/>
	    <result column="feedback_content" jdbcType="String" property="feedbackContent"/>
	    <result column="feedback_image_urls" jdbcType="String" property="feedbackImageUrls"/>
	    <result column="feedback_status" jdbcType="Boolean" property="feedbackStatus"/>
	    <result column="user_name" jdbcType="String" property="userName"/>
	    <result column="telephone" jdbcType="String" property="telephone"/>
	    <result column="email" jdbcType="String" property="email"/>
	    <result column="add_by" jdbcType="String" property="addBy"/>
	    <result column="add_name" jdbcType="String" property="addName"/>
	    <result column="add_time" jdbcType="Date" property="addTime"/>
	    <result column="last_edit_by" jdbcType="String" property="lastEditBy"/>
	    <result column="last_edit_name" jdbcType="String" property="lastEditName"/>
	    <result column="last_edit_time" jdbcType="Date" property="lastEditTime"/>
	    <result column="del_flag" jdbcType="Boolean" property="delFlag"/>
	    </resultMap>

	<select id="get" resultType="com.aek.shop.persistence.bean.ShopFeedbackInfo">
		select `id`,`feedback_id`,`org_id`,`parent_id`,`feedback_index`,`feedback_title`,`feedback_content`,`feedback_image_urls`,`feedback_status`,`user_name`,`telephone`,`email`,`add_by`,`add_name`,`add_time`,`last_edit_by`,`last_edit_name`,`last_edit_time`,`del_flag` from shop_feedback_info where id = #{value}
	</select>

	<select id="list" resultType="com.aek.shop.persistence.bean.ShopFeedbackInfo">
		select `id`,`feedback_id`,`org_id`,`parent_id`,`feedback_index`,`feedback_title`,`feedback_content`,`feedback_image_urls`,`feedback_status`,`user_name`,`telephone`,`email`,`add_by`,`add_name`,`add_time`,`last_edit_by`,`last_edit_name`,`last_edit_time`,`del_flag` from shop_feedback_info
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="feedbackId != null and feedbackId != ''"> and feedback_id = #{feedbackId} </if>
		  		  <if test="orgId != null and orgId != ''"> and org_id = #{orgId} </if>
		  		  <if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
		  		  <if test="feedbackIndex != null and feedbackIndex != ''"> and feedback_index = #{feedbackIndex} </if>
		  		  <if test="feedbackTitle != null and feedbackTitle != ''"> and feedback_title = #{feedbackTitle} </if>
		  		  <if test="feedbackContent != null and feedbackContent != ''"> and feedback_content = #{feedbackContent} </if>
		  		  <if test="feedbackImageUrls != null and feedbackImageUrls != ''"> and feedback_image_urls = #{feedbackImageUrls} </if>
		  		  <if test="feedbackStatus != null and feedbackStatus != ''"> and feedback_status = #{feedbackStatus} </if>
		  		  <if test="userName != null and userName != ''"> and user_name = #{userName} </if>
		  		  <if test="telephone != null and telephone != ''"> and telephone = #{telephone} </if>
		  		  <if test="email != null and email != ''"> and email = #{email} </if>
		  		  <if test="addBy != null and addBy != ''"> and add_by = #{addBy} </if>
		  		  <if test="addName != null and addName != ''"> and add_name = #{addName} </if>
		  		  <if test="addTime != null and addTime != ''"> and add_time = #{addTime} </if>
		  		  <if test="lastEditBy != null and lastEditBy != ''"> and last_edit_by = #{lastEditBy} </if>
		  		  <if test="lastEditName != null and lastEditName != ''"> and last_edit_name = #{lastEditName} </if>
		  		  <if test="lastEditTime != null and lastEditTime != ''"> and last_edit_time = #{lastEditTime} </if>
		  		  <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
		  		</where>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from shop_feedback_info
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="feedbackId != null and feedbackId != ''"> and feedback_id = #{feedbackId} </if>
		  		  <if test="orgId != null and orgId != ''"> and org_id = #{orgId} </if>
		  		  <if test="parentId != null and parentId != ''"> and parent_id = #{parentId} </if>
		  		  <if test="feedbackIndex != null and feedbackIndex != ''"> and feedback_index = #{feedbackIndex} </if>
		  		  <if test="feedbackTitle != null and feedbackTitle != ''"> and feedback_title = #{feedbackTitle} </if>
		  		  <if test="feedbackContent != null and feedbackContent != ''"> and feedback_content = #{feedbackContent} </if>
		  		  <if test="feedbackImageUrls != null and feedbackImageUrls != ''"> and feedback_image_urls = #{feedbackImageUrls} </if>
		  		  <if test="feedbackStatus != null and feedbackStatus != ''"> and feedback_status = #{feedbackStatus} </if>
		  		  <if test="userName != null and userName != ''"> and user_name = #{userName} </if>
		  		  <if test="telephone != null and telephone != ''"> and telephone = #{telephone} </if>
		  		  <if test="email != null and email != ''"> and email = #{email} </if>
		  		  <if test="addBy != null and addBy != ''"> and add_by = #{addBy} </if>
		  		  <if test="addName != null and addName != ''"> and add_name = #{addName} </if>
		  		  <if test="addTime != null and addTime != ''"> and add_time = #{addTime} </if>
		  		  <if test="lastEditBy != null and lastEditBy != ''"> and last_edit_by = #{lastEditBy} </if>
		  		  <if test="lastEditName != null and lastEditName != ''"> and last_edit_name = #{lastEditName} </if>
		  		  <if test="lastEditTime != null and lastEditTime != ''"> and last_edit_time = #{lastEditTime} </if>
		  		  <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.aek.shop.persistence.bean.ShopFeedbackInfo">
		insert into shop_feedback_info
		(
			`id`, 
			`feedback_id`, 
			`org_id`, 
			`parent_id`, 
			`feedback_index`, 
			`feedback_title`, 
			`feedback_content`, 
			`feedback_image_urls`, 
			`feedback_status`, 
			`user_name`, 
			`telephone`, 
			`email`, 
			`add_by`, 
			`add_name`, 
			`add_time`, 
			`last_edit_by`, 
			`last_edit_name`, 
			`last_edit_time`, 
			`del_flag`
		)
		values
		(
			#{id}, 
			#{feedbackId}, 
			#{orgId}, 
			#{parentId}, 
			#{feedbackIndex}, 
			#{feedbackTitle}, 
			#{feedbackContent}, 
			#{feedbackImageUrls}, 
			#{feedbackStatus}, 
			#{userName}, 
			#{telephone}, 
			#{email}, 
			#{addBy}, 
			#{addName}, 
			#{addTime}, 
			#{lastEditBy}, 
			#{lastEditName}, 
			#{lastEditTime}, 
			#{delFlag}
		)
	</insert>
	 
	<update id="update" parameterType="com.aek.shop.persistence.bean.ShopFeedbackInfo">
		update shop_feedback_info 
		<set>
			<if test="feedbackId != null">`feedback_id` = #{feedbackId}, </if>
			<if test="orgId != null">`org_id` = #{orgId}, </if>
			<if test="parentId != null">`parent_id` = #{parentId}, </if>
			<if test="feedbackIndex != null">`feedback_index` = #{feedbackIndex}, </if>
			<if test="feedbackTitle != null">`feedback_title` = #{feedbackTitle}, </if>
			<if test="feedbackContent != null">`feedback_content` = #{feedbackContent}, </if>
			<if test="feedbackImageUrls != null">`feedback_image_urls` = #{feedbackImageUrls}, </if>
			<if test="feedbackStatus != null">`feedback_status` = #{feedbackStatus}, </if>
			<if test="userName != null">`user_name` = #{userName}, </if>
			<if test="telephone != null">`telephone` = #{telephone}, </if>
			<if test="email != null">`email` = #{email}, </if>
			<if test="addBy != null">`add_by` = #{addBy}, </if>
			<if test="addName != null">`add_name` = #{addName}, </if>
			<if test="addTime != null">`add_time` = #{addTime}, </if>
			<if test="lastEditBy != null">`last_edit_by` = #{lastEditBy}, </if>
			<if test="lastEditName != null">`last_edit_name` = #{lastEditName}, </if>
			<if test="lastEditTime != null">`last_edit_time` = #{lastEditTime}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from shop_feedback_info where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from shop_feedback_info where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>