<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aek.shop.persistence.mapper.ShopFeedbackReplyInfoMapper">

    <resultMap id="feedbackReplyResultMap" type="com.aek.shop.api.vo.ShopFeedbackReplyInfoVO">
    	<id column="id" jdbcType="BIGINT" property="id" />
    	<result column="id" jdbcType="Long" property="id"/>
	    <result column="reply_id" jdbcType="String" property="replyId"/>
	    <result column="org_id" jdbcType="String" property="orgId"/>
	    <result column="feeback_id" jdbcType="String" property="feebackId"/>
	    <result column="reply_title" jdbcType="String" property="replyTitle"/>
	    <result column="reply_content" jdbcType="String" property="replyContent"/>
	    <result column="user_id" jdbcType="String" property="userId"/>
	    <result column="telephone" jdbcType="String" property="telephone"/>
	    <result column="email" jdbcType="String" property="email"/>
	    <result column="add_by" jdbcType="String" property="addBy"/>
	    <result column="add_name" jdbcType="String" property="addName"/>
	    <result column="add_time" jdbcType="Date" property="addTime"/>
	    <result column="last_edit_by" jdbcType="String" property="lastEditBy"/>
	    <result column="last_edit_name" jdbcType="String" property="lastEditName"/>
	    <result column="last_edit_time" jdbcType="Date" property="lastEditTime"/>
	    <result column="del_flag" jdbcType="Boolean" property="delFlag"/>
	    </resultMap>

	<resultMap id="baseResultMap" type="com.aek.shop.persistence.bean.ShopFeedbackReplyInfo">
    	<id column="id" jdbcType="BIGINT" property="id" />
	    <result column="id" jdbcType="Long" property="id"/>
	    <result column="reply_id" jdbcType="String" property="replyId"/>
	    <result column="org_id" jdbcType="String" property="orgId"/>
	    <result column="feeback_id" jdbcType="String" property="feebackId"/>
	    <result column="reply_title" jdbcType="String" property="replyTitle"/>
	    <result column="reply_content" jdbcType="String" property="replyContent"/>
	    <result column="user_id" jdbcType="String" property="userId"/>
	    <result column="telephone" jdbcType="String" property="telephone"/>
	    <result column="email" jdbcType="String" property="email"/>
	    <result column="add_by" jdbcType="String" property="addBy"/>
	    <result column="add_name" jdbcType="String" property="addName"/>
	    <result column="add_time" jdbcType="Date" property="addTime"/>
	    <result column="last_edit_by" jdbcType="String" property="lastEditBy"/>
	    <result column="last_edit_name" jdbcType="String" property="lastEditName"/>
	    <result column="last_edit_time" jdbcType="Date" property="lastEditTime"/>
	    <result column="del_flag" jdbcType="Boolean" property="delFlag"/>
	    </resultMap>

	<select id="get" resultType="com.aek.shop.persistence.bean.ShopFeedbackReplyInfo">
		select `id`,`reply_id`,`org_id`,`feeback_id`,`reply_title`,`reply_content`,`user_id`,`telephone`,`email`,`add_by`,`add_name`,`add_time`,`last_edit_by`,`last_edit_name`,`last_edit_time`,`del_flag` from shop_feedback_reply_info where id = #{value}
	</select>

	<select id="list" resultType="com.aek.shop.persistence.bean.ShopFeedbackReplyInfo">
		select `id`,`reply_id`,`org_id`,`feeback_id`,`reply_title`,`reply_content`,`user_id`,`telephone`,`email`,`add_by`,`add_name`,`add_time`,`last_edit_by`,`last_edit_name`,`last_edit_time`,`del_flag` from shop_feedback_reply_info
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="replyId != null and replyId != ''"> and reply_id = #{replyId} </if>
		  		  <if test="orgId != null and orgId != ''"> and org_id = #{orgId} </if>
		  		  <if test="feebackId != null and feebackId != ''"> and feeback_id = #{feebackId} </if>
		  		  <if test="replyTitle != null and replyTitle != ''"> and reply_title = #{replyTitle} </if>
		  		  <if test="replyContent != null and replyContent != ''"> and reply_content = #{replyContent} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="telephone != null and telephone != ''"> and telephone = #{telephone} </if>
		  		  <if test="email != null and email != ''"> and email = #{email} </if>
		  		  <if test="addBy != null and addBy != ''"> and add_by = #{addBy} </if>
		  		  <if test="addName != null and addName != ''"> and add_name = #{addName} </if>
		  		  <if test="addTime != null and addTime != ''"> and add_time = #{addTime} </if>
		  		  <if test="lastEditBy != null and lastEditBy != ''"> and last_edit_by = #{lastEditBy} </if>
		  		  <if test="lastEditName != null and lastEditName != ''"> and last_edit_name = #{lastEditName} </if>
		  		  <if test="lastEditTime != null and lastEditTime != ''"> and last_edit_time = #{lastEditTime} </if>
		  		  <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
		  		</where>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from shop_feedback_reply_info
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="replyId != null and replyId != ''"> and reply_id = #{replyId} </if>
		  		  <if test="orgId != null and orgId != ''"> and org_id = #{orgId} </if>
		  		  <if test="feebackId != null and feebackId != ''"> and feeback_id = #{feebackId} </if>
		  		  <if test="replyTitle != null and replyTitle != ''"> and reply_title = #{replyTitle} </if>
		  		  <if test="replyContent != null and replyContent != ''"> and reply_content = #{replyContent} </if>
		  		  <if test="userId != null and userId != ''"> and user_id = #{userId} </if>
		  		  <if test="telephone != null and telephone != ''"> and telephone = #{telephone} </if>
		  		  <if test="email != null and email != ''"> and email = #{email} </if>
		  		  <if test="addBy != null and addBy != ''"> and add_by = #{addBy} </if>
		  		  <if test="addName != null and addName != ''"> and add_name = #{addName} </if>
		  		  <if test="addTime != null and addTime != ''"> and add_time = #{addTime} </if>
		  		  <if test="lastEditBy != null and lastEditBy != ''"> and last_edit_by = #{lastEditBy} </if>
		  		  <if test="lastEditName != null and lastEditName != ''"> and last_edit_name = #{lastEditName} </if>
		  		  <if test="lastEditTime != null and lastEditTime != ''"> and last_edit_time = #{lastEditTime} </if>
		  		  <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.aek.shop.persistence.bean.ShopFeedbackReplyInfo">
		insert into shop_feedback_reply_info
		(
			`id`, 
			`reply_id`, 
			`org_id`, 
			`feeback_id`, 
			`reply_title`, 
			`reply_content`, 
			`user_id`, 
			`telephone`, 
			`email`, 
			`add_by`, 
			`add_name`, 
			`add_time`, 
			`last_edit_by`, 
			`last_edit_name`, 
			`last_edit_time`, 
			`del_flag`
		)
		values
		(
			#{id}, 
			#{replyId}, 
			#{orgId}, 
			#{feebackId}, 
			#{replyTitle}, 
			#{replyContent}, 
			#{userId}, 
			#{telephone}, 
			#{email}, 
			#{addBy}, 
			#{addName}, 
			#{addTime}, 
			#{lastEditBy}, 
			#{lastEditName}, 
			#{lastEditTime}, 
			#{delFlag}
		)
	</insert>
	 
	<update id="update" parameterType="com.aek.shop.persistence.bean.ShopFeedbackReplyInfo">
		update shop_feedback_reply_info 
		<set>
			<if test="replyId != null">`reply_id` = #{replyId}, </if>
			<if test="orgId != null">`org_id` = #{orgId}, </if>
			<if test="feebackId != null">`feeback_id` = #{feebackId}, </if>
			<if test="replyTitle != null">`reply_title` = #{replyTitle}, </if>
			<if test="replyContent != null">`reply_content` = #{replyContent}, </if>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="telephone != null">`telephone` = #{telephone}, </if>
			<if test="email != null">`email` = #{email}, </if>
			<if test="addBy != null">`add_by` = #{addBy}, </if>
			<if test="addName != null">`add_name` = #{addName}, </if>
			<if test="addTime != null">`add_time` = #{addTime}, </if>
			<if test="lastEditBy != null">`last_edit_by` = #{lastEditBy}, </if>
			<if test="lastEditName != null">`last_edit_name` = #{lastEditName}, </if>
			<if test="lastEditTime != null">`last_edit_time` = #{lastEditTime}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from shop_feedback_reply_info where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from shop_feedback_reply_info where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>