<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aek.contacts.persistence.mapper.SupplierProductCatalogInfoMapper">

    <resultMap id="productResultMap" type="com.aek.contacts.api.vo.SupplierProductCatalogInfoVO">
    	<id column="id" jdbcType="BIGINT" property="id" />
    	<result column="id" jdbcType="INTEGER" property="id"/>
	    <result column="product_id" jdbcType="STRING" property="productId"/>
	    <result column="supplier_org_id" jdbcType="STRING" property="supplierOrgId"/>
	    <result column="materials_id" jdbcType="STRING" property="materialsId"/>
	    <result column="materials_name" jdbcType="STRING" property="materialsName"/>
	    <result column="materials_name_helper" jdbcType="STRING" property="materialsNameHelper"/>
	    <result column="materials_sku_id" jdbcType="STRING" property="materialsSkuId"/>
	    <result column="materials_sku" jdbcType="STRING" property="materialsSku"/>
	    <result column="materials_sku_hepler" jdbcType="STRING" property="materialsSkuHepler"/>
	    <result column="certificate_id" jdbcType="STRING" property="certificateId"/>
	    <result column="certificate_no" jdbcType="STRING" property="certificateNo"/>
	    <result column="supplier_certificate_no" jdbcType="STRING" property="supplierCertificateNo"/>
	    <result column="factory_id" jdbcType="STRING" property="factoryId"/>
	    <result column="factory_name" jdbcType="STRING" property="factoryName"/>
	    <result column="factory_name_helper" jdbcType="STRING" property="factoryNameHelper"/>
	    <result column="brand_id" jdbcType="STRING" property="brandId"/>
	    <result column="brand_name" jdbcType="STRING" property="brandName"/>
	    <result column="invite_type" jdbcType="INTEGER" property="inviteType"/>
	    <result column="invite_no" jdbcType="STRING" property="inviteNo"/>
	    <result column="sale_price" jdbcType="LONG" property="salePrice"/>
	    <result column="materials_unit" jdbcType="STRING" property="materialsUnit"/>
	    <result column="materials_unit_text" jdbcType="STRING" property="materialsUnitText"/>
	    <result column="materials_commen_name" jdbcType="STRING" property="materialsCommenName"/>
	    <result column="platform_auth_status" jdbcType="INTEGER" property="platformAuthStatus"/>
	    <result column="product_code" jdbcType="STRING" property="productCode"/>
	    <result column="add_by" jdbcType="STRING" property="addBy"/>
	    <result column="add_name" jdbcType="STRING" property="addName"/>
	    <result column="add_time" jdbcType="DATE" property="addTime"/>
	    <result column="last_edit_by" jdbcType="STRING" property="lastEditBy"/>
	    <result column="last_edit_name" jdbcType="STRING" property="lastEditName"/>
	    <result column="last_edit_time" jdbcType="DATE" property="lastEditTime"/>
	    <result column="del_flag" jdbcType="BOOLEAN" property="delFlag"/>
	    <result column="virtual_keywords" jdbcType="STRING" property="virtualKeywords"/>
	    </resultMap>

	<resultMap id="baseResultMap" type="com.aek.contacts.persistence.bean.SupplierProductCatalogInfo">
    	<id column="id" jdbcType="BIGINT" property="id" />
	    <result column="id" jdbcType="INTEGER" property="id"/>
	    <result column="product_id" jdbcType="STRING" property="productId"/>
	    <result column="supplier_org_id" jdbcType="STRING" property="supplierOrgId"/>
	    <result column="materials_id" jdbcType="STRING" property="materialsId"/>
	    <result column="materials_name" jdbcType="STRING" property="materialsName"/>
	    <result column="materials_name_helper" jdbcType="STRING" property="materialsNameHelper"/>
	    <result column="materials_sku_id" jdbcType="STRING" property="materialsSkuId"/>
	    <result column="materials_sku" jdbcType="STRING" property="materialsSku"/>
	    <result column="materials_sku_hepler" jdbcType="STRING" property="materialsSkuHepler"/>
	    <result column="certificate_id" jdbcType="STRING" property="certificateId"/>
	    <result column="certificate_no" jdbcType="STRING" property="certificateNo"/>
	    <result column="supplier_certificate_no" jdbcType="STRING" property="supplierCertificateNo"/>
	    <result column="factory_id" jdbcType="STRING" property="factoryId"/>
	    <result column="factory_name" jdbcType="STRING" property="factoryName"/>
	    <result column="factory_name_helper" jdbcType="STRING" property="factoryNameHelper"/>
	    <result column="brand_id" jdbcType="STRING" property="brandId"/>
	    <result column="brand_name" jdbcType="STRING" property="brandName"/>
	    <result column="invite_type" jdbcType="INTEGER" property="inviteType"/>
	    <result column="invite_no" jdbcType="STRING" property="inviteNo"/>
	    <result column="sale_price" jdbcType="LONG" property="salePrice"/>
	    <result column="materials_unit" jdbcType="STRING" property="materialsUnit"/>
	    <result column="materials_unit_text" jdbcType="STRING" property="materialsUnitText"/>
	    <result column="materials_commen_name" jdbcType="STRING" property="materialsCommenName"/>
	    <result column="platform_auth_status" jdbcType="INTEGER" property="platformAuthStatus"/>
	    <result column="product_code" jdbcType="STRING" property="productCode"/>
	    <result column="add_by" jdbcType="STRING" property="addBy"/>
	    <result column="add_name" jdbcType="STRING" property="addName"/>
	    <result column="add_time" jdbcType="DATE" property="addTime"/>
	    <result column="last_edit_by" jdbcType="STRING" property="lastEditBy"/>
	    <result column="last_edit_name" jdbcType="STRING" property="lastEditName"/>
	    <result column="last_edit_time" jdbcType="DATE" property="lastEditTime"/>
	    <result column="del_flag" jdbcType="BOOLEAN" property="delFlag"/>
	    <result column="virtual_keywords" jdbcType="STRING" property="virtualKeywords"/>
	    </resultMap>

	<select id="get" resultType="com.aek.contacts.persistence.bean.SupplierProductCatalogInfo">
		select `id`,`product_id`,`supplier_org_id`,`materials_id`,`materials_name`,`materials_name_helper`,`materials_sku_id`,`materials_sku`,`materials_sku_hepler`,`certificate_id`,`certificate_no`,`supplier_certificate_no`,`factory_id`,`factory_name`,`factory_name_helper`,`brand_id`,`brand_name`,`invite_type`,`invite_no`,`sale_price`,`materials_unit`,`materials_unit_text`,`materials_commen_name`,`platform_auth_status`,`product_code`,`add_by`,`add_name`,`add_time`,`last_edit_by`,`last_edit_name`,`last_edit_time`,`del_flag`,`virtual_keywords` from supplier_product_catalog_info where id = #{value}
	</select>

	<select id="list" resultType="com.aek.contacts.persistence.bean.SupplierProductCatalogInfo">
		select `id`,`product_id`,`supplier_org_id`,`materials_id`,`materials_name`,`materials_name_helper`,`materials_sku_id`,`materials_sku`,`materials_sku_hepler`,`certificate_id`,`certificate_no`,`supplier_certificate_no`,`factory_id`,`factory_name`,`factory_name_helper`,`brand_id`,`brand_name`,`invite_type`,`invite_no`,`sale_price`,`materials_unit`,`materials_unit_text`,`materials_commen_name`,`platform_auth_status`,`product_code`,`add_by`,`add_name`,`add_time`,`last_edit_by`,`last_edit_name`,`last_edit_time`,`del_flag`,`virtual_keywords` from supplier_product_catalog_info
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="productId != null and productId != ''"> and product_id = #{productId} </if>
		  		  <if test="supplierOrgId != null and supplierOrgId != ''"> and supplier_org_id = #{supplierOrgId} </if>
		  		  <if test="materialsId != null and materialsId != ''"> and materials_id = #{materialsId} </if>
		  		  <if test="materialsName != null and materialsName != ''"> and materials_name = #{materialsName} </if>
		  		  <if test="materialsNameHelper != null and materialsNameHelper != ''"> and materials_name_helper = #{materialsNameHelper} </if>
		  		  <if test="materialsSkuId != null and materialsSkuId != ''"> and materials_sku_id = #{materialsSkuId} </if>
		  		  <if test="materialsSku != null and materialsSku != ''"> and materials_sku = #{materialsSku} </if>
		  		  <if test="materialsSkuHepler != null and materialsSkuHepler != ''"> and materials_sku_hepler = #{materialsSkuHepler} </if>
		  		  <if test="certificateId != null and certificateId != ''"> and certificate_id = #{certificateId} </if>
		  		  <if test="certificateNo != null and certificateNo != ''"> and certificate_no = #{certificateNo} </if>
		  		  <if test="supplierCertificateNo != null and supplierCertificateNo != ''"> and supplier_certificate_no = #{supplierCertificateNo} </if>
		  		  <if test="factoryId != null and factoryId != ''"> and factory_id = #{factoryId} </if>
		  		  <if test="factoryName != null and factoryName != ''"> and factory_name = #{factoryName} </if>
		  		  <if test="factoryNameHelper != null and factoryNameHelper != ''"> and factory_name_helper = #{factoryNameHelper} </if>
		  		  <if test="brandId != null and brandId != ''"> and brand_id = #{brandId} </if>
		  		  <if test="brandName != null and brandName != ''"> and brand_name = #{brandName} </if>
		  		  <if test="inviteType != null and inviteType != ''"> and invite_type = #{inviteType} </if>
		  		  <if test="inviteNo != null and inviteNo != ''"> and invite_no = #{inviteNo} </if>
		  		  <if test="salePrice != null and salePrice != ''"> and sale_price = #{salePrice} </if>
		  		  <if test="materialsUnit != null and materialsUnit != ''"> and materials_unit = #{materialsUnit} </if>
		  		  <if test="materialsUnitText != null and materialsUnitText != ''"> and materials_unit_text = #{materialsUnitText} </if>
		  		  <if test="materialsCommenName != null and materialsCommenName != ''"> and materials_commen_name = #{materialsCommenName} </if>
		  		  <if test="platformAuthStatus != null and platformAuthStatus != ''"> and platform_auth_status = #{platformAuthStatus} </if>
		  		  <if test="productCode != null and productCode != ''"> and product_code = #{productCode} </if>
		  		  <if test="addBy != null and addBy != ''"> and add_by = #{addBy} </if>
		  		  <if test="addName != null and addName != ''"> and add_name = #{addName} </if>
		  		  <if test="addTime != null and addTime != ''"> and add_time = #{addTime} </if>
		  		  <if test="lastEditBy != null and lastEditBy != ''"> and last_edit_by = #{lastEditBy} </if>
		  		  <if test="lastEditName != null and lastEditName != ''"> and last_edit_name = #{lastEditName} </if>
		  		  <if test="lastEditTime != null and lastEditTime != ''"> and last_edit_time = #{lastEditTime} </if>
		  		  <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
		  		  <if test="virtualKeywords != null and virtualKeywords != ''"> and virtual_keywords = #{virtualKeywords} </if>
		  		</where>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from supplier_product_catalog_info
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="productId != null and productId != ''"> and product_id = #{productId} </if>
		  		  <if test="supplierOrgId != null and supplierOrgId != ''"> and supplier_org_id = #{supplierOrgId} </if>
		  		  <if test="materialsId != null and materialsId != ''"> and materials_id = #{materialsId} </if>
		  		  <if test="materialsName != null and materialsName != ''"> and materials_name = #{materialsName} </if>
		  		  <if test="materialsNameHelper != null and materialsNameHelper != ''"> and materials_name_helper = #{materialsNameHelper} </if>
		  		  <if test="materialsSkuId != null and materialsSkuId != ''"> and materials_sku_id = #{materialsSkuId} </if>
		  		  <if test="materialsSku != null and materialsSku != ''"> and materials_sku = #{materialsSku} </if>
		  		  <if test="materialsSkuHepler != null and materialsSkuHepler != ''"> and materials_sku_hepler = #{materialsSkuHepler} </if>
		  		  <if test="certificateId != null and certificateId != ''"> and certificate_id = #{certificateId} </if>
		  		  <if test="certificateNo != null and certificateNo != ''"> and certificate_no = #{certificateNo} </if>
		  		  <if test="supplierCertificateNo != null and supplierCertificateNo != ''"> and supplier_certificate_no = #{supplierCertificateNo} </if>
		  		  <if test="factoryId != null and factoryId != ''"> and factory_id = #{factoryId} </if>
		  		  <if test="factoryName != null and factoryName != ''"> and factory_name = #{factoryName} </if>
		  		  <if test="factoryNameHelper != null and factoryNameHelper != ''"> and factory_name_helper = #{factoryNameHelper} </if>
		  		  <if test="brandId != null and brandId != ''"> and brand_id = #{brandId} </if>
		  		  <if test="brandName != null and brandName != ''"> and brand_name = #{brandName} </if>
		  		  <if test="inviteType != null and inviteType != ''"> and invite_type = #{inviteType} </if>
		  		  <if test="inviteNo != null and inviteNo != ''"> and invite_no = #{inviteNo} </if>
		  		  <if test="salePrice != null and salePrice != ''"> and sale_price = #{salePrice} </if>
		  		  <if test="materialsUnit != null and materialsUnit != ''"> and materials_unit = #{materialsUnit} </if>
		  		  <if test="materialsUnitText != null and materialsUnitText != ''"> and materials_unit_text = #{materialsUnitText} </if>
		  		  <if test="materialsCommenName != null and materialsCommenName != ''"> and materials_commen_name = #{materialsCommenName} </if>
		  		  <if test="platformAuthStatus != null and platformAuthStatus != ''"> and platform_auth_status = #{platformAuthStatus} </if>
		  		  <if test="productCode != null and productCode != ''"> and product_code = #{productCode} </if>
		  		  <if test="addBy != null and addBy != ''"> and add_by = #{addBy} </if>
		  		  <if test="addName != null and addName != ''"> and add_name = #{addName} </if>
		  		  <if test="addTime != null and addTime != ''"> and add_time = #{addTime} </if>
		  		  <if test="lastEditBy != null and lastEditBy != ''"> and last_edit_by = #{lastEditBy} </if>
		  		  <if test="lastEditName != null and lastEditName != ''"> and last_edit_name = #{lastEditName} </if>
		  		  <if test="lastEditTime != null and lastEditTime != ''"> and last_edit_time = #{lastEditTime} </if>
		  		  <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag} </if>
		  		  <if test="virtualKeywords != null and virtualKeywords != ''"> and virtual_keywords = #{virtualKeywords} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.aek.contacts.persistence.bean.SupplierProductCatalogInfo">
		insert into supplier_product_catalog_info
		(
			`id`, 
			`product_id`, 
			`supplier_org_id`, 
			`materials_id`, 
			`materials_name`, 
			`materials_name_helper`, 
			`materials_sku_id`, 
			`materials_sku`, 
			`materials_sku_hepler`, 
			`certificate_id`, 
			`certificate_no`, 
			`supplier_certificate_no`, 
			`factory_id`, 
			`factory_name`, 
			`factory_name_helper`, 
			`brand_id`, 
			`brand_name`, 
			`invite_type`, 
			`invite_no`, 
			`sale_price`, 
			`materials_unit`, 
			`materials_unit_text`, 
			`materials_commen_name`, 
			`platform_auth_status`, 
			`product_code`, 
			`add_by`, 
			`add_name`, 
			`add_time`, 
			`last_edit_by`, 
			`last_edit_name`, 
			`last_edit_time`, 
			`del_flag`, 
			`virtual_keywords`
		)
		values
		(
			#{id}, 
			#{productId}, 
			#{supplierOrgId}, 
			#{materialsId}, 
			#{materialsName}, 
			#{materialsNameHelper}, 
			#{materialsSkuId}, 
			#{materialsSku}, 
			#{materialsSkuHepler}, 
			#{certificateId}, 
			#{certificateNo}, 
			#{supplierCertificateNo}, 
			#{factoryId}, 
			#{factoryName}, 
			#{factoryNameHelper}, 
			#{brandId}, 
			#{brandName}, 
			#{inviteType}, 
			#{inviteNo}, 
			#{salePrice}, 
			#{materialsUnit}, 
			#{materialsUnitText}, 
			#{materialsCommenName}, 
			#{platformAuthStatus}, 
			#{productCode}, 
			#{addBy}, 
			#{addName}, 
			#{addTime}, 
			#{lastEditBy}, 
			#{lastEditName}, 
			#{lastEditTime}, 
			#{delFlag}, 
			#{virtualKeywords}
		)
	</insert>
	 
	<update id="update" parameterType="com.aek.contacts.persistence.bean.SupplierProductCatalogInfo">
		update supplier_product_catalog_info 
		<set>
			<if test="productId != null">`product_id` = #{productId}, </if>
			<if test="supplierOrgId != null">`supplier_org_id` = #{supplierOrgId}, </if>
			<if test="materialsId != null">`materials_id` = #{materialsId}, </if>
			<if test="materialsName != null">`materials_name` = #{materialsName}, </if>
			<if test="materialsNameHelper != null">`materials_name_helper` = #{materialsNameHelper}, </if>
			<if test="materialsSkuId != null">`materials_sku_id` = #{materialsSkuId}, </if>
			<if test="materialsSku != null">`materials_sku` = #{materialsSku}, </if>
			<if test="materialsSkuHepler != null">`materials_sku_hepler` = #{materialsSkuHepler}, </if>
			<if test="certificateId != null">`certificate_id` = #{certificateId}, </if>
			<if test="certificateNo != null">`certificate_no` = #{certificateNo}, </if>
			<if test="supplierCertificateNo != null">`supplier_certificate_no` = #{supplierCertificateNo}, </if>
			<if test="factoryId != null">`factory_id` = #{factoryId}, </if>
			<if test="factoryName != null">`factory_name` = #{factoryName}, </if>
			<if test="factoryNameHelper != null">`factory_name_helper` = #{factoryNameHelper}, </if>
			<if test="brandId != null">`brand_id` = #{brandId}, </if>
			<if test="brandName != null">`brand_name` = #{brandName}, </if>
			<if test="inviteType != null">`invite_type` = #{inviteType}, </if>
			<if test="inviteNo != null">`invite_no` = #{inviteNo}, </if>
			<if test="salePrice != null">`sale_price` = #{salePrice}, </if>
			<if test="materialsUnit != null">`materials_unit` = #{materialsUnit}, </if>
			<if test="materialsUnitText != null">`materials_unit_text` = #{materialsUnitText}, </if>
			<if test="materialsCommenName != null">`materials_commen_name` = #{materialsCommenName}, </if>
			<if test="platformAuthStatus != null">`platform_auth_status` = #{platformAuthStatus}, </if>
			<if test="productCode != null">`product_code` = #{productCode}, </if>
			<if test="addBy != null">`add_by` = #{addBy}, </if>
			<if test="addName != null">`add_name` = #{addName}, </if>
			<if test="addTime != null">`add_time` = #{addTime}, </if>
			<if test="lastEditBy != null">`last_edit_by` = #{lastEditBy}, </if>
			<if test="lastEditName != null">`last_edit_name` = #{lastEditName}, </if>
			<if test="lastEditTime != null">`last_edit_time` = #{lastEditTime}, </if>
			<if test="delFlag != null">`del_flag` = #{delFlag}, </if>
			<if test="virtualKeywords != null">`virtual_keywords` = #{virtualKeywords}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from supplier_product_catalog_info where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from supplier_product_catalog_info where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>